--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
streamlit
opencv-python-headless
SpeechRecognition
edge-tts
pygame
psutil
groq
RapidFuzz
ultralytics
folium
streamlit-folium
pandas
plotly
